/* Home Start */
.a1{
  color: white;
  text-decoration: none;
  font-size: 30px;
  height: auto;

 
}

.b1{
  height: auto;
 width: auto;
}
.slider{
  /* height: 600px;
  width: 100%; */
margin-top: 10px;
 
}

.lap10{
height: auto ;
width: 15rem !important;
}
.img10{
height: 100px;
width: auto;
}

/* Home End */

